.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
}
.tab-header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: #303030;
  z-index: 2;
}
.tab-content {
  padding-top: 4rem;
  padding-bottom: 1rem;
  width: 95%;
  background-color: #ffc10a;
  margin-top: -3.5rem;
}
.active {
  background-color: #fff;
  color: #303030;
}
